// SilderBarItem Color
$g_silderBar_background_color:#333333;
$g_silderBar_color:rgba(255, 255, 255, 0.65);
$g_silderBar_sub_background_color:#3F3F3F;
$g_silderBar_selected_background_color:#3F3F3F;

// color
$g-color-white: #ffffff;
