// Layout SilderBarItem Color
$g-silderBar-background-color: #333333;
$g-silderBar-color: rgba(255, 255, 255, 0.65);
$g-silderBar-sub-background-color: #3f3f3f;
$g-silderBar-selected-background-color: #3f3f3f;

// Layout Main Color
$g-main-background-color: #f8f8f8;

// base color
$color-primary: #409eff;

// text color
$text-color-primary: #303133;
$text-color-regular: #606266;
$text-color-secondary: #909399;
