// Element Style
@import "./element/index.scss";
// Variables
@import "./_variables";
// Component
@import '../../components/index.scss';

.app-container {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: #ffffff;
  position: relative;
  // overflow: auto;
  min-height: 200px;
}

.v-per-disabled {
  pointer-events: none;
}