.g_table_root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.g_table_nav {
  flex: 0 0 auto;
}

.g_table_table {
  flex: 1;
  overflow: hidden;
}

// 解决弹窗与 Elloading 层叠
::v-deep(.el-table__body-wrapper){
  .el-loading-mask{
    z-index:998;
  }
}
