.g_table_root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.m_table_nav {
  flex: 0 0 auto;
}

.m_table_table {
  flex: 1;
  overflow: hidden;
}
